/* Stile per la stampa */
@media print {
    body {
        visibility: hidden;
    }

    #output {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: 0;
    }
}
